@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --textcolor: white;
    --bgurl: url('assets/bg-mobile.jpg');
    --strokecolor: rgba(255, 255, 255, .5);
    --surfacecolor: rgba(255, 255, 255, .1);
    --surfacecolorhover: rgba(255, 255, 255, .05);
    --highlightcolor: rgba(255, 255, 255, .2);
    --bordercolor: rgb(189, 189, 189);
    --switchbgurl: url('assets/moon-stars.svg')
}

.light {
    --textcolor: black;
    --bgurl: url('assets/bg-mobile-light.jpg');
    --strokecolor: rgba(0, 0, 0, .5);
    --surfacecolor: rgba(0, 0, 0, 0.05);
    --surfacecolorhover: rgba(0, 0, 0, .1);
    --highlightcolor: rgba(0, 0, 0, .1);
    --bordercolor: rgba(0, 0, 0, 0.39);
    --switchbgurl: url('assets/sun.svg')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black var(--bgurl) no-repeat top center / cover;
    font-family: Inter, sans-serif;
    color: var(--textcolor);
}

main {
    width: 360px;
    margin: 56px auto 0;
    text-align: center;
    padding: 0 24px;
}

#perfil {
    font-weight: 500;
    line-height: 24px;
    padding: 24px;
}

#perfil img {
    border-radius: 50%;
    border: 3px solid var(--bordercolor);
    width: 112px;
    margin-bottom: 8px;
}

#switch {
    margin: auto;
    margin-bottom: 24px;
    width: 64px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switchbgurl) no-repeat center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate(0, -50%);
}

.light #switch button {
    right: 0;
    left: initial;
    border: 1px solid #69526B;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surfacecolor);
    border: 1px solid var(--strokecolor);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-bottom: 8px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surfacecolor);
    color: var(--textcolor);
    border: 1px solid var(--strokecolor);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    line-height: 24px;

    transition: background .2s;
}

ul li a:hover {
    border: 1.5px solid var(--textcolor);
    background: var(--surfacecolorhover);
}

#sociallinks {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 0;

    font-size: 26px;
}

#sociallinks a {
    color: var(--textcolor);

    padding: 16px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background .2s;
}

#sociallinks a:hover {
    background-color: var(--highlightcolor);
}

footer {
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: var(--textcolor);
    text-decoration: none;
    font-weight: 700;
}